.header{
  background-color: $color-black;
  height: 80px;
  width: 100%; 
  color: $color-white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 11;
}

.header-container{
  margin: 0 220px;
  height: 100%;
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}


.logo-link{
  outline: none;
  text-decoration: none;
  color: $color-white;
}

.logo-container {
  width: 80px;
  height: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
}

.logo-h1 {
  font-family: 'RobotoRegular';
  margin: 0;
  margin-top: 3.55px;
  font-size: 19.0145px;
  line-height: 120%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  &::after{     
    content: '';   
    background-image: url(../assets/images/header/bamboo.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    display: block;
    position: relative;
    left: 11px;
    
    top: -27px;
    width: 10px;
    height: 25px;        
  }
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#logo-nav {
  display: none;
}

.nav {  
  margin-left: 22px;  
}

#nav-header {
  align-content: flex-start;
  flex-grow: 2;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  gap: 58px;
}

.nav-li {
  list-style-type: none;
}

#nav-about {
  // color: $color-orange;
  background-image: $color-orange-gradient;
  background-color:  $color-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav__li-a, .header-designed {
  font-family: 'RobotoMedium';
  outline: none;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  line-height: 140%; 
  transition: 0.2s linear;
  background: linear-gradient(113.96deg, #F9804B 1.49%,#FE9013 101.44%);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
  &:hover { 
    color:rgba(0,0,0,0);
  }
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.burger-button__lines {
  display: none;
  width: 18px;
  height: 2px; 
  background: $color-white;
  border-radius: 2px;
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

@media only screen and (max-width : 1599px) { 
  .header-container{ 
    margin: 0 30px;
  }

  .nav-ul {
    gap: 48px;
  }
}

@media only screen and (max-width : 999px) { 

  .header {
    height: 34px;
    position: fixed;
    z-index: 100;
  }

  .header-container {
    margin: 0 20.2px 0 20.07px;
  }

  .logo-container {
    border: none;
    width: 46.86px;
    height: 29.03px;
  }
  .logo-h1 {
    font-size: 12.2899px;
    &::after {
      width: 10.54px;
      height: 17.56px;
      background-size: 18.56px 13.54px;
      left: 2px;
      top: -18.5px;
    }
  }

  .menu-container {
    position: absolute;
    flex-direction: column;
    height: 329px;
    padding: 10px;
    align-items: flex-start;
    background-color: $color-white;
    top: 0;
    left: 0;
    transform: translateX(100%);
    justify-content: flex-start; 
    z-index: 100;  
  }

  #logo-nav {
    display: block;
  }
  #logo-container__menu {
    color: #FE9013;
    border: 0.8px solid #FE9013;
    width: 65.6px;
    height: 41.6px;
    margin-bottom: 13px;
  }

  #logo-container__h1 {
    font-size: 15.2116px;
    &::after {
      background-image: url(../assets/images/header/bamboo_orange.svg);
      background-size: 21.56px 15.54px;
      top: -20.5px;
      left: 8px;
    }
  }
  
  #nav-header {
    flex-direction: column;
    margin-left: 0;
    flex-grow: inherit;
  }

  #nav-ul__header {
    flex-direction: column;
    padding-left: 0;
    gap: 15px;
    margin-bottom: 12px;
  }

  .a-header, .header-designed {
    color: $color-dark-text;
  } 

  .burger-menu__button {
    cursor: pointer;
    width: 18px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    &:hover > .burger-button__lines {
      background: $color-orange;
      &::after, &::before {
        background: $color-orange;
      }
    }
    &:hover > .burger-button__lines-open {
      background: transparent;
    }
  }
  
  .burger-button__lines {
    display: block;
    transition: 0.4s;
    &::before {
      content: "";
      width: 18px;
      height: 2px; 
      background: $color-white;
      border-radius: 2px;
      position: absolute;
      transform: translateY(-4px);
      transition: 0.4s;
    }
    &::after {
      content: "";
      width: 18px;
      height: 2px; 
      background: $color-white;
      border-radius: 2px;
      position: absolute;
      transform: translateY(4px);
      transition: 0.4s;
    }
  }

  .burger-button__lines-open {
    background: transparent;
    &::before {
      transform: rotate(45deg);
      background-color: $color-dark-text;
    }
    &::after {
      transform: rotate(-45deg);
      background-color: $color-dark-text;
    }
  }

  .burger-menu__overlay-active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);    
  }
  
}

@media only screen and (max-width : 639px) { 
  .header-container {
    margin: 0 10px 0 10px;
  }
}