.header{
  background-color: $color-black;
  height: 80px;
  width: 100%; 
  color: $color-white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 11;
}

.header-container{
  margin: 0 220px;
  height: 100%;
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.logo-link{
  outline: none;
  text-decoration: none;
  color: $color-white;
}

.logo-container {
  width: 80px;
  height: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
}

.logo-h1 {
  font-family: 'RobotoRegular';
  margin: 0;
  margin-top: 3.55px;
  font-size: 19.0145px;
  line-height: 120%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  &::after{     
    content: '';   
    background-image: url(../assets/images/header/bamboo.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    display: block;
    position: relative;
    left: 11px;
    
    top: -27px;
    width: 10px;
    height: 25px;        
  }
}

.nav {  
  margin-left: 22px;  
}

#nav-header {
  align-content: flex-start;
  flex-grow: 2;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  gap: 58px;
}

.nav-li {
  list-style-type: none;
}

#nav-about {
  // color: $color-orange;
  background-image: $color-orange-gradient;
  background-color:  $color-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav__li-a, .header-designed {
  font-family: 'RobotoMedium';
  outline: none;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  line-height: 140%; 
  transition: 0.2s linear;
  background: linear-gradient(113.96deg, #F9804B 1.49%,#FE9013 101.44%);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
  &:hover { 
    color:rgba(0,0,0,0);
  }
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.burger-button {
  display: none;
  width: 18px;
  height: 2px; 
  background: $color-white;
  border-radius: 2px;
}

@media only screen and (max-width : 1599px) { 
  .header-container{ 
    margin: 0 30px;
  }

  .nav-ul {
    gap: 48px;
  }
}

@media only screen and (max-width : 999px) { 

  .header {
    height: 34px;
    position: fixed;
    z-index: 100;
  }

  .header-container {
    margin: 0 20.2px 0 20.07px;
  }

  .logo-container {
    border: none;
    width: 46.86px;
    height: 29.03px;
  }
  .logo-h1 {
    font-size: 12.2899px;
    &::after {
      width: 10.54px;
      height: 17.56px;
      background-size: 18.56px 13.54px;
      left: 2px;
      top: -18.5px;
    }
  }

  
  #nav-header, .header-designed {
    display: none;
  }
  .burger-button {
    display: block;
    &::before {
      content: "";
      width: 18px;
      height: 2px; 
      background: $color-white;
      border-radius: 2px;
      position: absolute;
      transform: translateY(-4px);
    }
    &::after {
      content: "";
      width: 18px;
      height: 2px; 
      background: $color-white;
      border-radius: 2px;
      position: absolute;
      transform: translateY(4px);
    }
  }
}