body {
  font-family: 'RobotoRegular';
  margin: 0 auto;
}

.section-watch {
  position: relative;
  margin: 0 auto;
  margin-top: -80px;  
  width: 1600px;
  height: 780px;
  background: url(../assets/images/watch-section/giantPandaBG.jpg);
}

.wath-container{
  height: auto;
  padding-top: 80px;  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.watch-container__contant{
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.h2-watch {
  width: 500px;
  height: 400px;
  font-family: 'RobotoBold';
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 58px;
  z-index: 10;
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 465px;
    height: 465px;
    background: $color-orange-gradient;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(-70px) translateY(-74px);
  }
}

.h2-watch__span{
  color: $color-yellow;
}

.section-backstage{
  padding-top: 140px;
  margin: 0 auto;
  margin-bottom: 180px;
  height: 605px;
  max-width: 1600px;
  background-image: url(../assets/images/backstage-section/flower_foto1.jpg);
  background-repeat: no-repeat;
  background-position: right 12px;
}

.backstage-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backstage-container__contant{
  display: flex;
  justify-content: center;
  gap: 87px;
  img {
    width: 609px;
    height: 403px;
  }
}

.backstage-contant{
  color: $color-dark-text;
  align-self: flex-start;
}

.backstage-contant__h2{
  font-family: 'RobotoRegular';
  font-weight: normal;  
  font-size: 48px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 20px;
  
}

.backstage-contant__p{
  font-size: 16px;
  line-height: 130%;
}
.p-title{
  font-size: 24px;
  line-height: 120%;
}
#p-title__backstage{
  margin-top: 54px;
  margin-bottom: 34px;
}

#p-text__backstage{
  line-height: 140%;
}