body {
  font-family: 'RobotoRegular';
  margin: 0 auto;
  box-sizing: border-box;
}

.section-watch {
  position: relative;
  margin: 0 auto;
  margin-top: -80px;  
  max-width: 1600px;
  height: 780px;
  background: url(../assets/images/watch-section/giantPandaBG.jpg);
}

.wath-container{
  height: auto;
  padding-top: 80px;  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.watch-container__contant{
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.h2-watch {
  width: 500px;
  height: 400px;
  font-family: 'RobotoBold';
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 58px;
  z-index: 10;
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 465px;
    height: 465px;
    background: $color-orange-gradient;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(-70px) translateY(-74px);
  }
}

.h2-watch__span{
  color: $color-yellow;
}

//////// BACKSTAGE ////////////

.section-backstage{
  padding-top: 140px;
  margin-bottom: 83px;
  height: 500px;
  position: relative;
  &::after {
    content: '';
    background-image: url(../assets/images/backstage-section/flower_foto1.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 204px;
    height: 613px;
    z-index: -1;
  }
}

.backstage-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backstage-container__contant{
  display: flex;
  justify-content: center;
  gap: 87px;
  img {
    width: 609px;
    height: 403px;
  }
}

.backstage-contant{
  color: $color-dark-text;
  align-self: flex-start;
}

.backstage-contant__h2{
  font-family: 'RobotoRegular';
  font-weight: normal;  
  font-size: 48px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 20px;
  
}

.backstage-contant__p{
  font-size: 16px;
  line-height: 130%;
}
.p-title{
  font-size: 24px;
  line-height: 120%;
}
#p-title__backstage{
  margin-top: 54px;
  margin-bottom: 34px;
}

#p-text__backstage{
  line-height: 140%;
}

///////// PETS /////////////////

.section-pets {
  // margin-bottom: 100px;
  position: relative;
  height: 1106px;
  &::before {
    content: '';
    height: 460px;
    width: 292px;
    background-image: url(../assets/images/pets-section/palm_foto.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  &::after {
    content: '';
    background-image: url(../assets/images/pets-section/strelitzia.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 368px;
    height: 275px;
    z-index: -1;
  }
}

.pets-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-view {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px 28px;
  position: relative;
  margin-bottom: 80px;
 /*  &::before{
    content: "";
    // background-image: url(../assets/images/svg/arrow_left.svg);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: $color-orange url(../assets/images/svg/arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -31px;
    transform: translateX(-80px);
    cursor: pointer;
  }

  &::after {
    content: '';
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: $color-orange url(../assets/images/svg/arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -31px;
    transform: translateX(80px) rotate(180deg);
    cursor: pointer;
  } */
}

.slider-button{
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 0.2s;  // don't blink mothfucker!!!!!!
  background: $color-orange-gradient;
  background-repeat: no-repeat;
  background-position: center;
 /*  &:hover{
    background: $color-orange-hover;
  } */
}
#slided-btn1{  
  left: 0;
  top: 50%;
  margin-top: -31px;
  transform: translateX(-80px);
  cursor: pointer;
}
#slided-btn2{ 
  right: 0;
  top: 50%;
  margin-top: -31px;
  transform: translateX(80px) rotate(180deg);
  cursor: pointer;
}
.arrow-svg{
  width: 30px;
  height: 10px;
}

#card-alligator {
  display: none;
}

.pets-view__card {
  width: 364px;
  height: 424px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid $color-orange;
  border-color: $color-orange-gradient; */
  border-radius: 5px;
  color: $color-black;
  position: relative; 
  z-index: 50; 
  transition: linear 0.2s;
  background-color: $color-white;
  overflow: hidden;
}

.pets-img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.pets-img {
  width: 364px;
  height: 364px;
  position: relative;
  transition: linear 0.2s;
  cursor: pointer;
}

.pets-img__hover {
  filter: brightness(50%);
  transform: scale(1.05);
}

.pets-p__info {
  position: absolute;
  color: $color-white;
  font-family: 'RobotoLight';
  line-height: 140%;
  transform: translateY(360px);
  transition: ease-in-out 0.3s;
  text-align: justify;
  z-index: -1;
  padding: 10px;
}

.pets-p__info-show {
  transform: translateY(0px);
  z-index: 1;
}


.pets-descpiption{
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 12px 0 16px;
}

.pets-text {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pets-h3 {
  font-family: 'RobotoMedium';
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0;
}

.pets-p {
  font-family: 'RobotoLight';
  font-size: 15px;
  line-height: 120%;
  margin: 0;  
}

.pets-food__svg-banana{
  height: 37px;
  width: 33px;
}

.pets-food__svg-meet{
  width: 48px;
  height: 38px;
}

/////// PICK /////////////

.section-pick{
  background: $color-bg-pick-section;
  opacity: 0.9;
  height: 1004px;
  color: $color-dark-text;
  padding-top: 69px;
  box-sizing: border-box;
}

.pick-contant__container{
  height: 835px;
  max-width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 69px;
}

.pick-contant__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}

.pick-cards{
  display: flex;
  gap: 130px;
  position: relative;
  margin-bottom: 35px;
}

.pick-h2{
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  margin: 40px 0 15px;
}


.pick-h4 {
  font-size: 24px;
  line-height: 120%;
  margin: 15px 0 20px;
}

.pick-p__bold, .pick-p {
  font-size: 16px;
  line-height: 130%;
}

.pick-p__bold {
  font-family: 'RobotoMedium';
  font-weight: 500;
  margin: 20px 0 5px;
}

.pick-p {
  margin: 5px 0;
  max-width: 863px;
}

#pick-p__a{
  color: $color-dark-text;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
  padding-bottom: 2px;
  &:hover {
    color: $color-orange-hover;
  }
  &:active {
    color: $color-green-active;
    border-color: $color-green-active;
  }
}

.pick-h3 {
  font-size: 36px;
  line-height: 130%;
  margin-top: 60px;
}

.pick-card {
  max-width: 170px;
}

.pick-card__square {
  height: 166px;
  width: 166px;
  background: $color-white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid #F9804B;
  border-radius: 5px;
}

#pick-card__zoo {
  &::before {
    content: "";
    background-image: url(../assets/images/svg/vector_arrow_right.svg);
    width: 70px;
    height: 36px;
    position: absolute;    
    bottom: 50%;
    margin-bottom: 36px;
    transform: translateX(-100px);
  }
  &::after {
    content: "";
    background-image: url(../assets/images/svg/vector_arrow_right.svg);
    width: 70px;
    height: 36px;
    position: absolute;    
    bottom: 50%;
    margin-bottom: 36px;
    transform: translateX(200px);
  }
}

#pick-card__pay-svg {
  width: 110px;
  height: 60px;
}

#pick-card__zoo-svg {
  width: 86px;
  height: 98px;
}

#pick-card__monkey-svg {
  width: 125px;
  height: 72px;
}

.pick-card__h5 {
  font-size: 16px;
  line-height: 140%;
  margin-top: 30px;
}

//////// FEEDBACK //////////

.section-feedback {
  position: relative;

}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    background-image: url(../assets/images/testimonials-section/leaf.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 408px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(130px);
    z-index: -1;
    
  }
}

.feedback-h3 {
  font-size: 36px;
  line-height: 130%;
  font-weight: 400;
  color: $color-dark-text;
  margin: 140px 0 47px;
}

.feedback-cards{
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  margin-bottom: 22px;
}

.feedback-border:nth-child(3) {
  display: none;
}

.feedback-card {
  width: 264px;
  height: 387px;
  background-color: $color-gray-feedback;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px 16px;
  box-sizing: border-box;
}

.card-profile__container{
  display: flex;
  margin-bottom: 10px;
}

.profile-data__container{
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}
.card-h5 {
  margin: 0;
  color: $color-black;
  font-size: 16px;
  line-height: 120%;
}

.profile-span, .feedback-p  {
  margin: 0;
  font-family: 'RobotoLight';
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.profile-span {
  margin-right: 6px;
}

.feedback-p {
  color: #767474;
  max-height: 309px;
  overflow: hidden;
}

#border-line {
  width: 599px;
  height: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
}

.feedback-cards__line {
  background: #F5F7F6;
  border-radius: 5px;
  width: 597px;
  height: 6.5px;
  display: flex;
  align-items: center;
  
}

.line-progress {
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
  transition: ease-in 0.15s;
}

.feedback-cards__line:hover > .line-progress{
  background: $color-orange-hover;
}

#feedback-button {
  align-self: flex-start;
  margin-bottom: 180px;
}



@media only screen and (max-width : 1599px) { 

  /////// WATCH ///////
  .section-watch {
    max-height: 584px;
    background-size: cover;
    background-position: center center;
  }

  .wath-container {
    padding-top: 50px;
  }
  .watch-container__contant {
    padding-right: 6px;

  }

  .h2-watch {
    font-size: 85px;
    margin-bottom: -38px;
    &::before {
      width: 367px;
      height: 367px;
      transform: translateX(-8px) translateY(-52px);
    }
  }

  /////// BACKSTAGE /////// 
  
  .section-backstage {
    padding-top: 100px;
    margin-bottom: 69px;
    &::after {
      background-image: none;
      display: none;
    }
  }

  .backstage-container__contant {
    gap: 31px;
  }

  .backstage-container__img-container {
    width: 455px;
    height: 408px;
    margin-top: 9px;
  }
  .backstage-container__img-container img{ 
    object-fit: cover;
    width: 455px;
    height: 408px;
  }

  /////// PETS /////// 

  .section-pets{
    height: 1075px;
    &::before {
      background-image: url(../assets/images/pets-section/palm_foto2.jpg);
      height: 202px;
      width: 194px;
    }
    &::after {
      height: 180px;
      width: 241px;
      background-size: 241px 180px;
    }
  }

  .pets-border {
    order: 6;
  }

  #card-panda {
    order: 1;
  }

  #card-eagle {
    order: 2;
  }

  #card-cheetah {
    order: 3;
  }

  #card-gorilla {
    order: 4;
  }
  
  #card-alligator {
    display: flex;
    order: 5;
  }

  #card-penguin {
    order: 6;
  }

  #card-sloth {
    display: none;
  }

  .pets-view {
    gap: 92px 27px;
  }
  .pets-border {
    height: 354px;
    width: 295px;
  }
  .pets-view__card {
    height: 352px;
    width: 293px;
  }

  .pets-img {
    width: 293px;
    height: 293px;
  }


  #slided-btn1 {
    left: auto;
    transform: translateX(-117px);
  }

  #slided-btn2 {
    right: auto;
    transform: translateX(117px) rotate(180deg);
  }



  /////// PICK /////// 

  .section-pick {
    padding-top: 30px;
    height: 876px;
  }

  .pick-contant__container {
    height: 796px;
  }

  .pick-h2 {
    margin: 30px 0 10px;
  }

  .pick-contant__info {
    margin-left: 0;
  }

  .pick-h4 {
    margin: 10px 0 0;
    font-weight: 400;
  }
  
  .pick-p__bold {
    max-width: 813px;
  }

  .pick-p {
    max-width: 823px;
  }

  .pick-h3 {
    margin: 37px 0 40px;
  }

  .pick-cards {
    margin-bottom: 44px;
  }

  /////// Testimonials /////// 

  .feedback-container {
    &::after {
      width: 196px;
      height: 325px;
      background-size: 196px 325px;
      transform: translateY(87px);
    }
  }
  
  .feedback-h3 {
    margin: 100px 0 30px;
  }

  .feedback-cards {
    margin-bottom: 20px;
  }

  .feedback-border {
    width: 293px;
    height: 391px;
  }

  .feedback-card {
    width: 289px;
    height: 387px;
  }
  .feedback-border:nth-child(2) {
    display: none;
  }
  .feedback-border:nth-child(3) {
    display: flex;
  }
  .feedback-border:last-child {
    display: none;
  }

  #border-line {
    max-width: 390px;
    margin-bottom: 52px;
    transform: translateX(-7px); // ???
  }
  .feedback-cards__line {
    max-width: 388px;    
  }
  .line-progress {
    width: 75px;
  }

  #feedback-button {
    margin-bottom: 140px;
  }

}

@media only screen and (max-width : 999px) { 

  .section-watch {
    height: 373px;
    margin-top: 0;
  }

  .watch-container__contant {
    align-items: flex-end;
    width: 100%;
  }


  .h2-watch {
    font-size: 54.2894px;
    width: 239px;
    height: 237.6px;
    margin-top: 30px;
    &::before {
      width: 238px;
      height: 238px;
      transform: translateX(-44px) translateY(-36px);
    }
  }
  #watch-button {
    align-self: flex-start;
  }

  .section-backstage {
    padding-top: 60px;
    margin-bottom: 0;
    height: 447px;
    &::after {
      background-image: url(../assets/images/backstage-section/flower_foto1.jpg);
      background-size: 165px 482px;
      height: 564px;
      width: 134px;
      display: block;
    }
  }
  
  .backstage-container__contant {
    justify-content: flex-start;
  }

  .backstage-container__img-container {
    display: none;
  }
  .backstage-contant {
    max-width: 495px;
  }

  .backstage-contant__h2 {
    margin-left: 4px;
  }

  .backstage-contant__p {
    margin-bottom: 15px;
  }
  
  #p-title__backstage {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 4px;
  }

  .section-pets {
    height: 970px;
    &::before {
      transform: translateX(-60px);
    }

    &::after {
      width: 175px;
      height: 131px;
      background-size: 175px 131px;
    }
  }

  .pets-view {
    margin-bottom: 60px;
  }
  #slided-btn1 {
    transform: translateX(-46px) translateY(-3px);
  }

  #slided-btn2 {
    transform: translateX(46px) translateY(-3px) rotate(180deg);
  }

  .pets-border {
    width: 285px;
    height: 332px;
  }

  .pets-view__card {
    width: 283px;
    height: 330px;
  }

  #card-alligator, #card-penguin {
    display: none;
  }

  .pets-img {
    width: 285.24px;
    height: 285.24px;
  }

  .pets-p__info {
    font-size: 14px;
  }

  .pets-descpiption {
    margin: 0px 4px 0px 11px;
    height: 46.76px;
  }

  .pets-h3 {
    font-size: 12.4695px;
  }
  
  .pets-p {
    font-size: 11.6901px;
  }

  .section-pick {
    padding-top: 20px;
    height: 781px;
  }

  #pick-container__id {
    max-width: 640px;
  }

  .pick-contant__container {
    padding: 0 20px;
    height: 741px;
  }

  .pick-h2 {
    font-size: 42px;
    margin: 10px 0 10px;
  }

  .pick-h4 {
    font-size: 22px;
  }

  .pick-h3 {
    font-weight: 400;
    margin: 27px 0 18px;
  }

  .pick-cards {
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  #pick-card__zoo { 
    &::before {
      width: 89px;
      height: 29px;
      background-image: url(../assets/images/svg/arrow_green.svg);
      background-repeat: no-repeat;
      top: 0;
      transform: translateX(-73px) translateY(-16px);
    }
    &::after {
      width: 89px;
      height: 29px;
      background-image: url(../assets/images/svg/arrow_green.svg);
      background-repeat: no-repeat;
      top: 0;
      transform: translateX(137px) translateY(-16px);
    }
  }

  .feedback-container {
    &::after {  // fix: нужно перенести в section
     /*  width: 133.88px;
      height: 206.15px;
      background-size: 133.88px 206.15px;
      transform: translateY(69px) translateX(10px); */
      width: 117.88px;
      height: 220.15px;
      background-size: 125.88px 206.15px;
      transform: translateY(82px) translateX(0px);
    }
  }

  .feedback-h3 {
    margin: 60px 0 30px;
  }

  .feedback-cards {
    flex-wrap: wrap;
    gap: 15px;
  }

  .feedback-border {
    width: 600px;
    height: 109px;
  }

  .feedback-card {
    width: 596px;
    height: 105px;
    padding: 13px 16px 7px 12px;
  }

  .feedback-p {
    padding-left: 3px;
  }

  #border-line {
    display: none;
  }

  #feedback-button {
    align-self: center;
    width: 240px;
    height: 54px;    
    margin: 20px 0 80px;
  }

}

@media only screen and (max-width : 639px) { 

  .section-watch {
    height: 220.96px;
  }
  
  .watch-container__contant {
    padding-right: 0;
  }

  .h2-watch {
    font-size: 28px;
    width: 128.13px;
    margin-top: 25px;
    height: 203.6px;
    &::before {
      width: 119.09px;
      height: 119.09px;  
      transform: translateX(-19px) translateY(-19px);    
    }
  }

  .section-backstage {
    padding-top: 105px;
    height: 427px;
    &::after {
      top: 40px;
      bottom: none;
      width: 31px;
      height: 236px;
      background-size: 62px 215px;
    }
  }
  .backstage-contant__h2 {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .backstage-contant__p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  #p-title__backstage {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .section-pets {
    height: 1522px;
    &::before {
      width: 69px;
      height: 72px;
      background-size: 69px 72px;
      transform: translateX(-11px);
    }
    &::after {
      width: 67px;
      height: 68px;
      background-size: 85px 71px;
    }
  }

  .pets-view {
    gap: 20px;
    margin-bottom: 20px;
  }

  #slided-btn1, #slided-btn2 {
    display: none;
  }

  #pick-container__id {
    max-width: 300px;
  }

  .section-pick {
    height: 1082px;
  }

  .pick-contant__container {
    padding: 0;
    height: 1042px;
  }

  .pick-h2 {
    font-size: 24px;
    margin: 20px 0 0px;
  }
  
  .pick-h4 {
    font-size: 18px;
    text-align: center;
  }

  .pick-p__bold, .pick-p {
    display: none;
  }

  .pick-h3 {
    font-size: 24px;
    margin: 22px 0 18px;
  }

  .pick-cards {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  #pick-card__zoo {
    &::before {
      top: auto;
      transform: translateX(141px) translateY(-107px) rotate(84deg);
    }
    &::after {
      top: auto;
      transform: translateX(141px) translateY(142px) rotate(84deg);
    }
  }

  .pick-card__h5 {
    margin: 10px 0 20px;
    max-height: 34px;
  }

  .feedback-border {
    width: 299px;
    height: 109px;
  }
  .feedback-card {
    width: 295px;
    height: 105px;
  }
}

@media only screen and (max-width : 350px) { 
  .section-watch {    
    background-size: 383.52px 186.96px;
    background-position: -32px 34px;
  }
}